.world__text {
  font-size: 24px;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.world__container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

  .world__container--copy {
    cursor: copy;
  }

.world__name {
  color: #fff;
  position: absolute;
  font-weight: normal;
  top: 20px;
  left: 20px;
  margin: 0;
  user-select: none;
}