.worlds {
  padding: 40px;
}

.worlds__ul {
  margin: 0;
  padding: 0;
}

.worlds__world {
  background: #333;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 20px 20px 0;
  width: 30%;
}

  .worlds__world:nth-child(3n + 1) {
    clear: left;
  }

  .worlds__world img {
    height: auto;
    max-width: 100%;
  }

  .worlds__world a,
  .worlds__world span { 
    color: inherit; 
    display: block;
    padding: 20px;
    text-decoration: none;
  }

.worlds__world:hover {
  background: #999;
}

.worlds__world:hover img {
  opacity: 0.5;
}

.worlds__world--add {
  background: #a66;
}