.zones {
  padding: 40px;
}

.zones__ul {
  margin: 0;
  padding: 0;
}

.zones__zone {
  background: #333;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 20px;
}

  .zones__zone a,
  .zones__zone span { 
    color: inherit; 
    display: block;
    padding: 20px;
    text-decoration: none;
  }

.zones__zone:hover {
  background: #999;
}

.zones__zone--add {
  background: #a66;
}